/* Hero Section */
.heroSec {
  position: relative;
  width: 100%;
  zoom: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.551);

  }

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  
  object-fit: cover;
  z-index: -1;
}

.heroContent {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
  padding: 20px;
}

.heroContent h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heroContent p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.heroBtn {
  padding: 10px 30px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .heroContent h1 {
    font-size: 2rem;
  }

  .heroContent p {
    font-size: 1.2rem;
  }

  .heroBtn {
    padding: 8px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .heroContent h1 {
    font-size: 1.5rem;
  }

  .heroContent p {
    font-size: 1rem;
  }

  .heroBtn {
    padding: 6px 15px;
    font-size: 0.8rem;
  }
}
